<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="main.js"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->
    <style>
    </style>
</head>
<body class="">
  <header>
    <nav class="main-menu">
      <div>
        <ul class="navigation pull-left clearfix ul-header">
          <li><a href="/Services">Services</a></li>
          <li><a href="/Data-Dashboard">Dashboard</a></li>
          <li><a href="/Login">Login</a></li>
          <li><a href="/Home">Home</a></li>
          <div class="logo pull-left">
            <a href="/" title=""><img style="height: 10vh" src="https://s3.amazonaws.com/uw-assets/public/img/logo.png" alt="" ></a>
          </div>
        </ul>
      </div>
    </nav>
  </header>
  <div id="sidebar">
    <div id="sidenav">
      <div class="li-vertical">Overview</div>
      <div class="li-vertical">Dashboard</div>
      <div class="li-vertical">Notifications</div>
    </div>
  </div>
  <div class="main">
    <div class="row" style="display: flex; justify-content: space-between;">
      <div class="header-text">
        Overview
      </div>
      <div class="header-text" id="timestamp">
      </div>
    </div>
    <div class="overview-ul">
        <div class="overview-text">
          <div class="data" id="pH">
            <p>55</p> <p>PH</p>
          </div>
        </div>
        <div class="overview-text">
          <div class="data" id="Temp">
            <p>55</p> <p>Temp</p>
          </div>
        </div>
        <div class=" overview-text">
            <div class="data" id="c02">
              <p>55</p> <p>c02</p>
            </div>
        </div>
    </div>
    <div class="overview-ul">
      <div class="overview-text">
        <div class="data" id="EC">
          <p>55</p> <p>EC</p>
        </div>
      </div>
      <div class="overview-text">
        <div class="data"  id="Humidity">
          <p>55</p> <p>Humidity</p>
        </div>
      </div>
    </div>
  <div class='Graph row'>
    <div style="display: flex">
       <div class="header-text">
         Dashboard
       </div>
     </div>
     <select class="graph-menu"  id="graph">
       <option value="pH">pH</option>
       <option value="EC">EC</option>
       <option value="CO2">CO2</option>
       <option value="Temp">Temp</option>
       <option value="Humidity">Humidity</option>
     </select>
     <div id="graph-body">
     </div>
   </div>
                        <div class="Notifications" >
                                <div class="header-text">
                                        Notifications
                                    </div>
                                    <div class="row" style="margin: 3%; display: flex; justify-content: space-between; flex-direction: row">
                                          <select class="graph-menu btn btn-primary dropd\\own-toggle col-xs-2"  id="graph">
                                                    <option >24 Hours</option>
                                                    <option >Week</option>
                                                    <option >Month</option>
                                                    <option >9 Months</option>
                                                </select>
                <button id='alert button' style="background-color: lightblue; margin: 1%" class="btn col-xs-2">Alerts</button>
            </div>
                <table id="alerts" class="">
                <tr>
                    <th>Status Icon</th>
                    <th>data</th>
                    <th>data quantity</th>
                    <th>time stamp</th>
                </tr>
                  </table>
        </div>
        </div>
      </div>

    </body>
    <script>

    var a = document.getElementById("graph").value;
    document.getElementById("graph-body").innerHTML= `<h2>'${a}'</h2>
    <div class='graph-placeholder'> its a graph</div>`

        const alerts = document.getElementById('alerts');
        alertbutton = document.getElementById('alert button');
        alertbutton.addEventListener('click', function(){
            var time = new Date()
            var datatype = 'Temp'
            var quantity = 500
            var color ='yellow'
            if (quantity>400) {
                var color ='red'
            }
            else{
                var color = 'green'
            }

            // get information from database, set status based on alert information

            alerts.innerHTML += `<tr>
                    <th><span class="dot" style='background-color: ${color}'></span></th>
                    <th>${datatype}</th>
                    <th>${quantity}</t\h>
                    <th>${time}</th>
            </tr>`
        })
   // add metrics
   // document.getElementById('pH').innerHTML = '<div class="vals">1.0</div> pH'
   // document.getElementById('Temp').innerHTML = '<div class="vals">1.0</div> temp'
   // document.getElementById('EC').innerHTML = '<div class="vals">1.0</div>EC'
   // document.getElementById('Humidity').innerHTML = '<div class="vals">1.0</div> Humidity'
   // document.getElementById('c02').innerHTML = '<div class="vals">1.0</div> c02'


window.onscroll = function() {myFunction()};

var navbar = document.getElementById("sidenav");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
    // add timestamp
    var time = new Date()
    document.getElementById('timestamp').innerHTML = `last updated: ${time}`
    function getGraph(){

    }

    </script>
</html>
