.main-menu {
    display: block;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

element.style {
    font-family: 'Raleway', sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main-menu .navbar-header .navigation .pull-left .clearfix {
    position: relative;
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    padding: 0px 0px 20px;
    right: 0px;
}

/* .pull-left {
    float: left;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  


/* .navigation {
float: none !important;
    margin: 0px !important;
    width: 100% !important;
    border: 1px solid #ffffff;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top: none;
    border-top-width: initial;
    border-top-style: none;
    border-top-color: initial;
} */


.navbar {
    position: center;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }